.nmf-container {
  width: 60%;
  margin: 30px auto 150px;
  box-shadow: 1px 6px 10px #d3d3d3;
}

.nmf-title-container {
  background-color: rgba(16, 241, 252, .5);
  padding: 30px 5%;
  background: 
    linear-gradient(
      rgba(0,0,0, .1),
      rgba(0,0,0, .1)),
    url(../../utils/assets/new-mentor-form.jpg);
  background-position: 40%;
  background-size: cover;
}

.nmf-colors {
  display: flex;
  height: 10px;
}

.nmf-color {
  width: 33.33%;
  height: 10px;
}

.nmf-color-red {
  background-color: #ef3852;
}

.nmf-color-yellow {
  background-color: #f9ae04;
}

.nmf-color-blue {
  background-color: #10F1FC;
}

.nmf-instructions {
  color: #ef3852;
  margin-top: 20px;
}

.nmf-error {
  color: #ef3852;
  margin: 20px 5% 10px;
}

.nmf-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: normal;
  letter-spacing: -2px;
  font-size: 4rem;
  margin: 0;
  color: white;
}

.nmf-questions {
  padding: 0 5% 50px;
  font-size: .8rem;
}

.nmf-question {
  padding-top: 30px;
}

.nmf-required-star {
  color: #ef3852;
}

.nmf-input {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding-left: 10px;
}

.nmf-textarea {
  width: 100%;
  height: 175px;
}

.nmf-options-container {
  display: flex;
  flex-wrap: wrap;
}

/* Customize the label (the container) */
.nmf-checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 0 20px 12px 0;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 229px;
}

/* Hide the browser's default checkbox */
.nmf-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.nmf-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.nmf-checkbox-container:hover input ~ .nmf-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.nmf-checkbox-container input:checked ~ .nmf-checkmark {
  background-color: #f9ae04;
}

/* Create the checkmark/indicator (hidden when not checked) */
.nmf-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.nmf-checkbox-container input:checked ~ .nmf-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.nmf-checkbox-container .nmf-checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container */
.nmf-radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default radio button */
.nmf-radio-container .stack_preference {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.nmf-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.nmf-radio-container:hover .stack_preference ~ .nmf-radio-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.nmf-radio-container .stack_preference:checked ~ .nmf-radio-checkmark {
  background-color: #f9ae04;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.nmf-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.nmf-radio-container .stack_preference:checked ~ .nmf-radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.nmf-radio-container .nmf-radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* The container */
.nmf-radio-container-1 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.nmf-radio-container-1 .selected1to1 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.nmf-radio-checkmark-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.nmf-radio-container-1:hover .selected1to1 ~ .nmf-radio-checkmark-1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.nmf-radio-container-1 .selected1to1:checked ~ .nmf-radio-checkmark-1 {
  background-color: #f9ae04;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.nmf-radio-checkmark-1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.nmf-radio-container-1 .selected1to1:checked ~ .nmf-radio-checkmark-1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.nmf-radio-container-1 .nmf-radio-checkmark-1:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.nmf-submit-btn {
  width: 30%;
  height: 50px;
  border-radius: 50px;
  display: block;
  margin: 0 auto 30px;
  font-size: 1.5rem;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5f5f5f;
  border: none;
}

.nmf-submit-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #c0c0c0;
}

.nmf-capacity-dropdown {
  width: 100px;
  font-size: 1rem;
}

.nmf-hide {
  display: none;
}