/*

yellow: (249,174,4)
red: (239,56,82)
blue: (17,241,252)

*/


.ad-header {
  background-color: #eee;
}

.ad-nav-btns {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
}

.ad-github-btn {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 300;
}

.ad-gh-tagline {
  letter-spacing: 1px;
}

.ad-github-logo {
  height: 40px;
  margin-left: 20px;
  width: 40px;
}

.ad-turing-logo {
  height: 85px;
}

.ad-title {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: 300;
  padding: 10px 0 70px;
    background: 
    linear-gradient(
      rgba(156, 97, 0, .6),
      rgba(156, 97, 0, .6)),
    url(../../utils/assets/from-above.jpeg);
  background-position: 45% 20%;
  background-size: cover;
    border-bottom: 10px solid rgba(249, 174, 4);


}

.ad-tools-svg {
  height: 50px;
  width: 50px;
  margin-top: 80px;
}

.ad-title-text {
  margin: 5px auto 20px;
  font-size: 4.1rem;
}


.ad-tagline {
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 100px;
}

.ad-mentor-headings {
  border: solid 1px #000;
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}

.ad-cards-container {
  display: flex;
  margin: -20px 3% 0;
  background-color: #fff;
}

.ad-heading-container {
  display: flex;
  padding: 0 25px 0 0;
  justify-content: space-between;
  border-bottom: 1px solid rgba(95, 95, 95, .1);
}

.ad-pref-title {
}

.ad-pref-name {
  width: 50%;
  padding-left: 65px;
}

.amc-pref-view-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.ad-mentor-cards-container {
  width: 50%;
  padding: 0 20px 0 0;
  border-right: 1px solid rgba(95, 95, 95, .1);
  height: 100%;
}

.ad-student-cards-container {
  width: 50%;
  padding: 0 0 0 20px;
}

.ad-mentors-title {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  padding-top: 30px;
}

.ad-students-title {
  font-family: 'Roboto Slab', serif;
}

