.ad-header {
  background-color: #eee;
}

.ad-nav-btn-container {
  display: flex;
}

.ad-nav-btns {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
}

.ad-nav-btn {
  align-items: center;
  color: #fff;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid #fff;
  padding: 12px 0;
}

.ad-nav-btn:hover {
  border-bottom: 3px solid rgba(3,193,209);
  cursor: pointer;
}

.ad-nav-tagline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ad-nav-tagline {
  letter-spacing: 1px;
  color: #5f5f5f;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
}

.ad-nav-logo {
  height: 40px;
  margin-left: 10px;
  width: 40px;
}

.ad-turing-logo {
  height: 85px;
}

.ad-title {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: 300;
  padding: 10px 0 70px;
    background: 
    linear-gradient(
      rgba(224,153,8, .4),
      rgba(224,153,8, .4)),
    url(../../utils/assets/banner.jpg);
  background-position: 45% 20%;
  background-size: cover;
  border-bottom: 10px solid rgba(249, 174, 4);
}

.ad-tools-svg {
  height: 50px;
  width: 50px;
  margin-top: 80px;
}

.ad-title-text {
  margin: 5px auto 20px;
  font-size: 4.1rem;
}


.ad-tagline {
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 150px;
}

.ad-mentor-headings {
  border: solid 1px #000;
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}

.ad-cards-container {
  display: flex;
  margin: 50px 3% 0;
  padding: 0 3% 30px;
  background-color: #fff;
}

.ad-add-height {
  height: 1500px;
}

.ad-heading-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(95, 95, 95, .1);
}

.ad-name-title {
  width: 50%;
  padding-left: 65px;
}

.ad-pref-title {
  width: 90px;
  text-align: center;
}

.ad-matched-title {
  width: 77px;
}

.ad-mentor-cards-container {
  width: 50%;
  padding: 0 20px 0 0;
  border-right: 1px solid rgba(95, 95, 95, .1);
  height: 100%;
}

.ad-student-cards-container {
  width: 50%;
  padding: 0 0 0 20px;
}

.ad-student-card {
  height: 76px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 65px;
}

.ad-cards-title {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  padding-top: 30px;
  text-transform: uppercase;
}

.ad-hide {
  display: none;
}