@import '/path/to/reset-css/reset.css';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

*:focus {
  outline: none;
}

body {
  color: #5f5f5f;
  margin: 0;
}