.amc-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(95, 95, 95, .1);
  padding: 10px 0;
}

.amc-card:hover {
  background-color: rgba(95, 95, 95, .1);
  cursor: pointer;
}

.amc-name {
  width: 35%;
}

.amc-stack {
  width: 25%;
}

.amc-prefs {
  width: 20%;
}

.amc-matched {
  width: 15%;
  text-align: center;
}

.amc-mentor-pic {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.amc-pref-icon {
  height: 20px;
  margin: 0 3px;
  width: 20px;
}

.amc-matched-icon {
  height: 15px;
  width: 15px;
}