.l-container {
  display: flex;
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.l-form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.l-input {
  margin-bottom: 30px;
  font-size: 1.2rem;
  padding: 7px 15px;
}

.l-login-btn {
  font-size: 1.2rem;
/*  padding: 7px 15px;
  height: 50px;*/
}

.l-form-item {
  height: 50px;
}