.em-options-container {
/*  display: flex;
  flex-wrap: wrap;*/
}

.em-container {
  width: 50%;
  margin: 60px auto;
  border: 2px solid #eee;
  padding: 3%;
}

.em-title-box {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.em-title {
  /* text-align: center; */
  margin: auto;
}

.em-exit-btn {
  background-color: #fff;
  color: #77CBD8;
  border: none;
  font-size: 1.5em;
  height: 40px;
  padding: 0;
  width: 40px;
}

.em-exit-btn:active {
  background-color: #77CBD8;
  color: #fff;
}

.em-exit-btn:hover {
  cursor: pointer;
}

.em-question {
  padding-top: 30px;
}

.em-input {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding-left: 10px;
}

.em-textarea {
  width: 100%;
  height: 175px;
}

/* Customize the label (the container) */
.em-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0 30px 12px 0;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.em-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.em-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.em-checkbox-container:hover input ~ .em-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.em-checkbox-container input:checked ~ .em-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.em-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.em-checkbox-container input:checked ~ .em-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.em-checkbox-container .em-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container */
.em-radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




/* Hide the browser's default radio button */
.em-radio-container .stack_preference {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.em-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.em-radio-container:hover .stack_preference ~ .em-radio-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.em-radio-container .stack_preference:checked ~ .em-radio-checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.em-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.em-radio-container .stack_preference:checked ~ .em-radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.em-radio-container .em-radio-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* The container */
.em-radio-container-1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




/* Hide the browser's default radio button */
.em-radio-container-1 .active {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.em-radio-checkmark-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.em-radio-container-1:hover .active ~ .em-radio-checkmark-1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.em-radio-container-1 .active:checked ~ .em-radio-checkmark-1 {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.em-radio-checkmark-1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.em-radio-container-1 .active:checked ~ .em-radio-checkmark-1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.em-radio-container-1 .em-radio-checkmark-1:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

